<div class="page-header">
    <h1>Inventory <small>for {{location.name}}</small></h1>
</div>
<!--<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-default" ui-sref="container.location.edit({'id':{{location.id?location.id:'\"\"'}}})">Edit Location</button>
    </div>
</div>-->
<section>
    <div class="section-header">
        <h2>Inventory</h2>
    </div>
    <div class="popup-content">
        <form class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                        <table class="table">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Quantity</th>
                                <th class="table-numeric">Value</th>
                                <th class="table-numeric">Total Value</th>
                            </tr>
                            <tr ng-repeat="item in items | filter:{ enabled: true }">
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td><input type="text" class="form-control input-sm" placeholder="Amount" ng-model="item.amount" ng-disabled="user.location != locationId"></td>
                                <td class="table-numeric">{{item.price | currency:"$"}}</td>
                                <td class="table-numeric">{{item.price * item.amount?item.amount:0 | currency:"$"}}</td>
                            </tr>
                            <tr>
                                <th colspan="3" class="table-numeric">Total</th>
                                <th class="table-numeric">{{getTotalAmount()}}</th>
                                <th class="table-numeric">{{getTotalValue() | currency:"$"}}</th>
                            </tr>
                        </table>
                    <br/>
                        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="save()">Update Inventory</button>
                </div>
            </form>
        </div>
    </div>
</section>

<div ui-view="modal"></div>