<div class="popup-shadow" ui-sref="container.packs"></div>
<div class="popup panel">
	<div class="panel-body">
		<div class="container-fluid">
			<a class="popup-close" ui-sref="container.packs">Close</a>
			<form class="form-horizontal">
			  <div class="form-group">
			    <label for="inputName" class="col-sm-2 control-label">Name</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="pack.name">
			    </div>
			  </div>
			 
				<table class="table">
			  	<tr>
			  		<th>Item</th>
			  		<th>Amount</th>
			  		<th>Value</th>
			  		<th>Total</th>
			  	</tr>
			  	<tr ng-repeat="item in items">
			  		<td>{{item.name}}</td>
			  		<td>
	                	<input type="text" class="form-control" placeholder="Amount" ng-model="item.amount">
	                </td>
			  		<td>{{item.price | currency:"$"}}</td>
			  		<td>
			  			{{(item.price*(item.amount?item.amount:0)) | currency:"$"}}
			  		</td>
			  	</tr>
	            <tr>
	                <th colspan="2">Total</th>
	                <th>{{getTotalAmount()}}</th>
	                <th>{{getTotalValue() | currency:"$"}}</th>
	            </tr>
				</table>
			  
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>
</div>